@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	  font: 100%/New Century Schoolbook, TeX Gyre Schola, serif;
}
.homePage {
	background: #BBC3FS;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #C1DBF9;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #E7BCF7;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
	.content {
	background: #DCDAF7;
	margin: 10px;
		Padding: 5;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #E7BCF7;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
a:link {
     color: #000000;
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
